@font-face {
  font-family: loubag;
  src: url("../fonts/Variable/LoubagVariableGX.ttf") format("TrueType");
}
@font-face {
  font-family: mon;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("TrueType");
}
li.nav-item a.activo {
  background-color: #bd998f;
  color: #fff;
  border-radius: 25px 25px 0 0;
}
li.nav-item a.activo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #bd998f;
  border-radius: 15px;
  transform: scaleX(1);
  transition: transform 0.3s;
}
li.nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #bd998f;
  border-radius: 15px;
  transform: scaleX(0);
  transition: transform 0.3s;
}
li.nav-item a:hover::after {
  transform: scaleX(1);
}

.boton:hover {
  background-color: #fff;
  color: #901d32;
  padding: 8px 13px;
  border: 2px solid #901d32;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
    transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
    transform: translateX(8px) translateY(-8px);
  }
}
@keyframes flip-vertical-left {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
.loubag-dark {
  font-family: loubag;
  color: #232220;
}

.loubag-light {
  font-family: loubag;
  color: #dec5be;
}

.texto-centrado {
  text-align: center;
}

.border-rounded {
  border-radius: 20px;
}

a.activo {
  background-color: #dec5be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: loubag;
  scrollbar-width: none;
}

body {
  position: relative;
}

.boton {
  text-decoration: none;
  background-color: #901d32;
  text-align: center;
  color: #fff;
  height: 45px;
  width: fit-content;
  box-sizing: border-box;
  padding: 10px 15px;
}

.row {
  margin: 0;
}

.landing {
  width: 100dvw;
  height: fit-content;
  background: url(../images/fondo-landing.png);
  background-size: cover;
  padding-top: 80px;
}
.landing--titulo {
  background-color: #2e2826;
  height: 100%;
}
.landing--titulo h1:hover {
  animation: text-shadow-pop-bl 0.6s both;
  color: #fff;
  transition: color 0.3s;
}
@media screen and (max-width: 768px) {
  .landing--titulo {
    height: 800px;
  }
}
.landing--imagenes img {
  width: 200px;
  height: 200px;
  margin: 45px 30px;
  border-radius: 50%;
}
.landing--imagenes img:hover {
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.row div,
.image-container {
  margin: 0;
  padding: 0;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.productos {
  width: 100dvw;
  height: fit-content;
  background: url(../images/fondo-productos.png);
  background-size: cover;
  padding: 150px 0;
}
.productos--card {
  margin: 40px;
}

.info-extra {
  width: 100dvw;
  height: fit-content;
  background-color: #232220;
}
.info-extra--titulo {
  padding: 50px 0;
}
.info-extra--titulo:hover {
  background-color: #bd998f;
  transition: all 0.3s;
}
.info-extra--titulo:hover h2 {
  color: #232220;
}
.info-libreria {
  background: url(../images/info-libreria.png);
  height: 100%;
}
.info-libreria .boton {
  margin: 500px 0;
}
.info-bijou {
  background: url(../images/pink.png);
  height: 100%;
}
.info-bijou .boton {
  margin: 500px 0;
}

.servicios {
  width: 100dvw;
  height: fit-content;
  background-color: #bd998f;
}

.que-ofrecemos {
  width: 100%;
  height: 600px;
  z-index: 10;
  max-width: 100dvw;
}
.que-ofrecemos p {
  width: 600px;
  background-color: #dec5be;
  padding: 20px 15px;
  border-radius: 15px;
}

.image-container {
  height: 100%;
  max-width: 100dvw;
}
.image-libreria {
  height: 50%;
}

.libreria-main {
  background: url(../images/fondo-libreria.png);
  background-size: cover;
}

.bijouterie-main {
  background: url(../images/fondo-bijouterie.png);
  background-size: cover;
}

.catalogo-libreria, .catalogo-bijouterie {
  width: 100dvw;
  height: fit-content;
  padding-bottom: 100px;
  max-width: 100dvw;
}
.catalogo--titulo h2 {
  margin: 0;
  padding: 100px 0 20px 0;
  width: 100%;
  background-color: #901d32;
  color: #fff;
}
.catalogo--titulo p {
  text-align: center;
  background-color: #232220;
  width: 600px;
  max-width: 100dvw;
  margin: 1rem 0 0 0;
  padding: 20px;
}

.productos--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productos--card a {
  margin-bottom: 30px;
}

.card.productos--card {
  height: 440px;
  max-height: 440px;
}

.oferta {
  width: 100dvw;
  height: fit-content;
  background-color: #2e2826;
}
.oferta .row {
  padding: 80px 0;
  max-width: 100dvw;
}
.oferta .row .productos--card {
  animation: pulsate-fwd 1.2s ease-in-out infinite both;
}
.oferta--descripcion {
  background-color: #232220;
  max-width: 100dvw;
  height: 200px;
}
.oferta--descripcion h3 {
  margin: 30px 40px;
}
.oferta--descripcion p {
  margin: 20px 40px;
}
.oferta--descripcion a {
  margin: 0 40px;
}

.galeria {
  width: 100dvw;
  height: fit-content;
}

.contactanos {
  width: 100dvw;
  height: fit-content;
}
.contactanos__titulo {
  width: 100dvw;
  height: fit-content;
  padding: 100px 0 20 0;
  background-color: #901d32;
}
.contactanos__titulo h2 {
  margin: 0;
  background-color: #901d32;
  color: #fff;
}

.formulario {
  width: 100dvw;
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: url(../images/fondo-contacto.png);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .formulario {
    display: block;
    height: 1400px;
  }
}
.formulario__form-container {
  width: 60%;
}
.formulario__beneficios-container {
  width: 40%;
}
.formulario__form-container, .formulario__beneficios-container {
  height: 700px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .formulario__form-container, .formulario__beneficios-container {
    width: 100dvw;
  }
}

.form-container__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  height: 700px;
  margin: 0 25%;
}
@media screen and (max-width: 1024px) {
  .form-container__card {
    height: 500px;
    margin: 100px 50px;
    border-radius: 50px;
  }
}
.form-container__card h3 {
  font-weight: 600;
  color: #fff;
}
.form-container__card p {
  font-weight: 300;
}
.form-container__card form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container__card form .campo,
.form-container__card form textarea {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 10px;
  max-height: 210px;
}

.formulario__beneficios-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario__beneficios-container .beneficios {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  padding: 20px;
  border-radius: 500px 0 0 500px;
}
.formulario__beneficios-container .beneficios h3 {
  background-color: #a65b60;
  text-align: center;
  padding: 20px 10px;
  border-radius: 0 20px 20px 20px;
  min-width: 160px;
}

.opiniones {
  width: 100dvw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e2826;
}
.opiniones h4 {
  padding: 20px 40px;
  margin-top: 60px;
  background-color: #901d32;
}
.opiniones__clientes--container {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.opiniones__clientes--container .clientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 20px;
}
.opiniones__clientes--container .clientes p {
  padding: 20px 0;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.avatar:hover {
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.avatar-1 {
  background: url(../images/avatar-1.png);
  background-size: cover;
}

.avatar-2 {
  background: url(../images/avatar-2.png);
  background-size: cover;
}

.avatar-3 {
  background: url(../images/avatar-3.png);
  background-size: cover;
}

.avatar-4 {
  background: url(../images/avatar-4.png);
  background-size: cover;
}

.avatar-5 {
  background: url(../images/avatar-5.png);
  background-size: cover;
}

.beneficios-1 {
  background: url(../images/beneficios-1.png);
  background-size: cover;
  width: 100px;
  height: 100%;
  min-width: 100px;
  border-radius: 5000px;
  margin-right: 20px;
}

.beneficios-2 {
  background: url(../images/beneficios-2.png);
  background-size: cover;
  width: 100px;
  height: 100%;
  min-width: 100px;
  border-radius: 5000px;
  margin-right: 20px;
}

.beneficios-3 {
  background: url(../images/beneficios-3.png);
  background-size: cover;
  width: 100px;
  height: 100%;
  min-width: 100px;
  border-radius: 5000px;
  margin-right: 20px;
}

.body-nosotros {
  background: url(../images/fondo-nosotros.png);
  background-size: cover;
}

.sobre-nosotros {
  width: 100dvw;
  height: fit-content;
}
.sobre-nosotros__titulo {
  width: 100dvw;
  height: fit-content;
  padding: 100px 0 20 0;
  background-color: #901d32;
}
.sobre-nosotros__titulo h2 {
  padding: 0px;
  margin: 0;
  background-color: #901d32;
  color: #fff;
}

.informacion {
  width: 100dvw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.informacion .presentacion {
  max-width: 1300px;
  background-color: #bd998f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: fit-content;
  padding: 15px 10%;
  margin: 8% 0;
}
.informacion .presentacion__titulo {
  line-height: 3rem;
  font-weight: 700;
}
.informacion .presentacion__descripcion {
  background-color: #dec5be;
  padding: 16px 30px;
}

.personal {
  width: 100dvw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.personal-1 {
  background: url(../images/personal-1.png);
  background-size: cover;
  border-radius: 500px 500px 0 0;
  min-width: 80px;
  width: 300px;
  height: 400px;
  margin: 30px 16px 0 16px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}
.personal-1 h5 {
  width: 100%;
  padding: 10px;
  background-color: #2e2826;
}

.personal-2 {
  background: url(../images/personal-2.png);
  background-size: cover;
  border-radius: 500px 500px 0 0;
  min-width: 80px;
  width: 300px;
  height: 400px;
  margin: 30px 16px 0 16px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}
.personal-2 h5 {
  width: 100%;
  padding: 10px;
  background-color: #2e2826;
}

.personal-3 {
  background: url(../images/personal-3.png);
  background-size: cover;
  border-radius: 500px 500px 0 0;
  min-width: 80px;
  width: 300px;
  height: 400px;
  margin: 30px 16px 0 16px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}
.personal-3 h5 {
  width: 100%;
  padding: 10px;
  background-color: #2e2826;
}

.personal-4 {
  background: url(../images/personal-4.png);
  background-size: cover;
  border-radius: 500px 500px 0 0;
  min-width: 80px;
  width: 300px;
  height: 400px;
  margin: 30px 16px 0 16px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}
.personal-4 h5 {
  width: 100%;
  padding: 10px;
  background-color: #2e2826;
}

.contain {
  background-color: #232220;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1.5fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "grid-img-1 grid-img-1 grid-img-2 grid-img-2 grid-img-2 grid-img-3" "grid-img-1 grid-img-1 grid-img-2 grid-img-2 grid-img-2 grid-img-4" "grid-img-1 grid-img-1 grid-img-5 grid-img-5 grid-img-5 grid-img-5";
}

.grid-img-1 {
  grid-area: grid-img-1;
}

.grid-img-2 {
  grid-area: grid-img-2;
}

.grid-img-3 {
  grid-area: grid-img-3;
}

.grid-img-4 {
  grid-area: grid-img-4;
}

.grid-img-5 {
  grid-area: grid-img-5;
}

.contain div img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header {
  background-color: #dec5be;
  width: 100dvw;
  height: 80px;
  font-family: loubag;
  z-index: 100;
  position: fixed;
}
.header li {
  position: relative;
}

#offcanvasNavbar {
  background-color: #dec5be;
  height: fit-content;
}

footer {
  width: 100dvw;
  height: fit-content;
  background-color: #232220;
}

.redes {
  background-color: #232220;
  margin: 0px;
  padding: 20px;
}
.redes-container {
  max-width: 100dvw;
}
@media screen and (max-width: 540px) {
  .redes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.redes ion-icon {
  font-size: 2em;
  cursor: pointer;
}
.redes a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #dec5be;
}