@mixin btn($bg-color: $color-accent) {
    text-decoration: none;
    background-color: $bg-color;
    text-align: center;
    color: $color-white;
    width: fit-content;
    padding: 10px 15px;
}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin section($sec-height: fit-content) {
    width: 100dvw;
    height: $sec-height;
}

@mixin margin-padding($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}
