// COLORS
$color-primary: #dec5be;
$color-primary-dark: #bd998f;

$color-secondary: #232220;
$color-secondary-light: #2e2826;

$color-accent: #901d32;
$color-accent-light-2: #a65b60;

$color-grey-dark: #262626;

$color-white: #fff;
$color-black: #000;

// FONT SIZES
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// BREAK POINTS
$breakpoints: (
    sm: 540px,
    md: 768px,
    lg: 1024px
);
