footer {
    @include section;
    background-color: $color-secondary;
}

.redes {
    background-color: $color-secondary;
    @include margin-padding(20px, 20px);

    ion-icon {
        font-size: 3em;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: $color-primary;
    }
}
