@font-face {
    font-family: loubag;
    src: url('../fonts/Variable/LoubagVariableGX.ttf') format('TrueType');
}

@font-face {
    font-family: mon;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('TrueType');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: loubag;
    scrollbar-width: none;
}

body {
    position: relative;
}

.header {
    background-color: #dec5be;
    width: 100dvw;
    height: 80px;
    font-family: loubag;
    z-index: 100;
    position: fixed;
}

.loubag-dark {
    font-family: loubag;
    color: #232220;
}

.loubag-light {
    font-family: loubag;
    color: #dec5be;
}

#offcanvasNavbar {
    background-color: #dec5be;
    height: fit-content;
}

.border-rounded {
    border-radius: 20px;
}

a.activo {
    background-color: #bd998f;
}

.landing {
    width: 100dvw;
    height: fit-content;
    background: url(../images/rosa.jpg);
    background-repeat: no-repeat;
    padding-top: 80px;
}

.landing--titulo {
    background-color: #2e2826;
}

.boton {
    text-decoration: none;
    background-color: #901d32;
    text-align: center;
    color: aliceblue;
    width: fit-content;
    padding: 10px 15px;
}

.row div {
    margin: 0;
    padding: 0;
}

.image-container {
    margin: 0;
    padding: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
}



.landing--imagenes img {
    width: 200px;
    height: 200px;
    margin: 45px 30px;

    border-radius: 100%;
}

.servicios {
    width: 100dvw;
    height: fit-content;
    background-color: #bd998f;
}

.que-ofrecemos {
    height: 600px;
    z-index: 10;
}

.texto-centrado {
    text-align: center;
}


.que-ofrecemos p {
    width: 600px;
    background-color: #dec5be;
    padding: 20px 15px;
    border-radius: 15px;
}

.image-container {
    height: 100%;
}

.imagen-libreria {
    height: 50%;
}

.productos {
    width: 100dvw;
    height: fit-content;
    background-color: #dec5be;
    padding: 150px 0;
}

.productos--card {
    margin: 40px;
}

.mas-info {
    width: 100dvw;
    height: fit-content;
    background-color: #232220;
}

.mas-info--titulo {
    padding: 50px 0;
}

.info-libreria {
    background: url(../images/infoLibreria.jpg);
    height: 100%;
}

.info-bijou {
    background: url(../images/pink.jpg);
    height: 100%;
}

.info-libreria .boton,
.info-bijou .boton {
    margin: 500px 0;
}

footer {
    width: 100dvw;
    height: fit-content;
    background-color: #232323;
}

.redes {
    background-color: #232220;
    margin: 20px;
    padding: 20px;
}

.redes ion-icon {
    font-size: 3em;
    cursor: pointer;
}

.redes a{
    text-decoration: none;
    color: #dec5be;

}

.catalogo-libreria,
.catalogo-bijouterie {
    width: 100dvw;
    height: fit-content;
    background-color: #bd998f;
    padding-bottom: 100px;
}

.catalogo--titulo {
    padding-top: 110px;
}

.catalogo--titulo h2 {
    padding: 20px;
    background-color: #901d3281;
    color: aliceblue;
}

.catalogo--titulo p {
    text-align: center;
    background-color: #232323;
    width: 600px;
    padding: 20px;
}

.productos--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card.productos--card {
    height: 360px;
}

.productos--card a {
    margin-bottom: 30px;
}

.oferta {
    width: 100dvw;
    height: fit-content;
    background-color: #2e2826;
}

.oferta .row {
    padding: 80px 0;
}

.oferta--descripcion {
    background-color: #232220;
}

.oferta--descripcion h3 {
    padding: 50px 40px;
}

.oferta--descripcion p {
    padding: 10px 40px;
}