@font-face {
    font-family: loubag;
    src: url('../fonts/Variable/LoubagVariableGX.ttf') format('TrueType');
}

@font-face {
    font-family: mon;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('TrueType');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: loubag;
    scrollbar-width: none;
}

body {
    position: relative;
}

.header {
    background-color: #dec5be;
    width: 100dvw;
    height: 80px;
    font-family: loubag;
}

.header

.loubag-dark {
    font-family: loubag;
    color: #232220;
}

#offcanvasNavbar {
    background-color: #dec5be;
    height: fit-content;
}

.border-rounded {
    border-radius: 20px;
}

a.activo {
    background-color: #bd998f;
}

