body {
    background: url(../images/fondo-nosotros.jpg);
}

.sobre-nosotros {
    @include section;
    &__titulo {
        @include section;
        padding: 100px 0 20 0;
        background-color: $color-accent;
        h1 {
            padding: 0px;
            background-color: $color-accent;
            color: $color-white;
        }
    }
}

.informacion {
    @include section;
    @include flex-center;
    .presentacion {
        max-width: 1300px;
        background-color: $color-primary-dark;
        @include flex-center;
        @include width-height(80%, fit-content);
        padding: 15px 10%;
        margin: 8% 0;

        &__titulo {
            line-height: 3rem;
            font-weight: 700;
        }
        &__descripcion {
            background-color: $color-primary;
            padding: 16px 30px;
        }
    }
}

.personal {
    @include section;
    @include flex-center(row);
    flex-wrap: wrap;
}

@for $i from 1 through 4 {
    .personal-#{$i} {
        background: url(../images/personal-#{$i}.jpg);
        background-size: cover;
        border-radius: 500px 500px 0 0;
        min-width: 80px;
        width: 300px;
        height: 400px;
        margin: 30px 16px 0 16px;
        display: flex;
        align-items: flex-end;
        padding: 0;
        h5 {
            width: 100%;
            padding: 10px;
            background-color: $color-secondary-light;
        }
    }
}
