@font-face {
    font-family: loubag;
    src: url("../fonts/Variable/LoubagVariableGX.ttf") format("TrueType");
}

@font-face {
    font-family: mon;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("TrueType");
}
