.landing {
    @include section();
    background: url(../images/fondo-landing.jpg);
    background-size: cover;
    padding-top: 80px;

    &--titulo {
        background-color: $color-secondary-light;
        height: 100%;

        h1:hover {
            animation: text-shadow-pop-bl 0.6s both;
            color: $color-white;
            transition: color 0.3s;
        }

        @include media-up(md) {
            height: 800px;
        }
    }

    &--imagenes img {
        @include width-height(200px, 200px);
        margin: 45px 30px;
        border-radius: 50%;
        &:hover {
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }
    }
}

.row div,
.image-container {
    @include margin-padding(0, 0);
}

.image-container img {
    @include width-height(100%, 100%);
}
