.libreria-main {
    background: url(../../../images/libreria-fondo.jpg);
    background-size: cover;
}

.bijouterie-main {
    background: url(../../../images/bijouterie-fondo.jpg);
    background-size: cover;
}

.catalogo {
    &-libreria,
    &-bijouterie {
        @include section;
        padding-bottom: 100px;
        max-width: 100dvw;
    }
    &--titulo {
        h2 {
            margin: 0;
            padding: 100px 0 20px 0;
            width: 100%;
            background-color: $color-accent;
            color: $color-white;
        }
        p {
            text-align: center;
            background-color: $color-secondary;
            width: 600px;
            max-width: 100dvw;
            margin: 1rem 0 0 0.5rem;
            padding: 20px;
        }
    }
}

.productos--card {
    @include flex-center;

    a {
        margin-bottom: 30px;
    }
}

.card.productos--card {
    height: 500px;
    max-height: 500px;
}

.oferta {
    @include section;
    background-color: $color-secondary-light;

    .row {
        padding: 80px 0;
        max-width: 100dvw;
    }

    &--descripcion {
        background-color: $color-secondary;
        max-width: 100dvw;
        h3 {
            padding: 50px 40px;
        }

        p {
            padding: 10px 40px;
        }
    }
}

.galeria {
    @include section;
}
